* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

ul li {
  margin: 0;
}

/* mobile */
@media (max-width: 640px) {
  h2,
  h3 {
    font-size: 16px;
  }

  .header {
    background: url("img/banner-mobile.jpg");
    padding: 30px 20px 0px 20px;
    min-height: 100vh;
  }

  .header-burger {
    display: block;
  }

  .menu {
    display: none;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header-logo-link {
    margin-top: 170px;
    margin-bottom: 45px;
    display: inline-block;
    align-self: center;
  }

  .header-title {
    font-size: 26px;
    line-height: 36px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .trends {
    margin: 40px 0 40px 0;
  }

  .trend-previewbox {
    height: 230px;
    padding: 0 15px 15px 15px;
  }

  .trend-previewbox:last-child {
    margin-bottom: 0;
  }

  main {
    width: 100%;
  }

  .article-img {
    width: 100%;
  }

  .article-text {
    font-size: 14px;
  }

  .article {
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 20px;
  }

  .side-bar {
    margin: 40px 0 40px 0;
    width: 100%;
  }

  .article-subtitle {
    font-size: 14px;
  }

  .products {
    width: 100%;
  }

  .article-products {
    margin-bottom: 30px;
  }

  .title-products {
    font-size: 17px;
  }

  .text-product {
    font-weight: bold;
  }
}

/* tablet */
@media (min-width: 641px) and (max-width: 1199px) {
  h2 {
    font-size: 18px;
  }

  .header-burger {
    display: block;
  }

  .menu {
    display: none;
  }

  .header {
    background: url("img/banner-bg-tablet.jpg");
    padding: 40px 35px 0px 35px;
    min-height: 390px;
  }

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }

  .header-logo-link {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .header-burger {
    display: inline-block;
    order: 2;
  }

  .header-title {
    font-size: 40px;
    line-height: 55px;
    width: 91%;
  }

  .container {
    width: 100%;
    padding: 0 35px;
  }

  .trends {
    margin: 50px 0 50px 0;
  }

  .trends-subtitle {
    font-size: 17px;
  }

  .content-wrap {
    display: flex;
    justify-content: center;
  }

  .content-wrap main {
    max-width: 390px;
    box-sizing: border-box;
  }

  .article-img {
    width: 100%;
  }

  .article-title {
    font-size: 17px;
  }

  .article-text {
    font-size: 15px;
  }

  .article {
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 20px;
  }

  .side-bar {
    max-width: 270px;
    box-sizing: border-box;
    margin-left: 35px;
  }

  .aside-title {
    font-size: 14px;
  }

  .article-subtitle {
    font-size: 14px;
  }

  .title-products {
    font-size: 17px;
  }

  .products-aside-title {
    font-size: 18px;
  }

  .article-products {
    width: calc(100% / 2 - 20px);
    margin-bottom: 28px;
  }
}

/* monitors and laptops */
@media (min-width: 1200px) {
  h2 {
    font-size: 20px;
  }

  h3,
  h4 {
    font-size: 14px;
  }

  .header-burger {
    display: none;
  }

  .header {
    background: url("img/banner-bg.jpg");
    padding: 30px 240px 150px 240px;
    margin-bottom: 60px;
    min-height: 450px;
  }

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
  }

  .header-title {
    font-size: 45px;
    line-height: 75px;
  }

  .menu-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .menu-item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    font-size: 13px;
  }

  .menu-item:last-child {
    padding-right: 0px;
  }

  .menu-link {
    display: block;
    font-weight: 400;
    font-style: normal;
  }

  .menu-link:hover {
    text-decoration: underline;
  }

  .trends {
    margin-bottom: 60px;
  }

  .trends-subtitle {
    font-size: 20px;
  }

  .trends-inner {
    display: flex;
    min-height: 320px;
  }

  .trend-previewbox {
    width: calc(100% / 4 - 5px);
    margin-right: 5px;
    padding: 70px 20px 20px 20px;
  }

  .trend-previewbox:last-child {
    margin-right: 0px;
  }

  .container {
    width: 100%;
    padding: 0 270px;
  }

  .content-wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
  }

  main {
    max-width: 770px;
  }

  .article {
    display: flex;
  }

  .article-img {
    max-width: 380px;
    margin-right: 30px;
    box-sizing: border-box;
  }

  .article-text {
    font-size: 15px;
  }

  .side-bar {
    max-width: 270px;
    margin-left: 120px;
  }

  .article-products {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    box-sizing: border-box;
  }

  .article-products:last-child {
    margin-right: 0;
  }

  .title-products {
    font-size: 20px;
  }

  .trends-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-previewbox {
    width: calc(100% / 4 - 5px);
    margin-right: 5px;
    padding: 70px 20px 20px 20px;
  }

  .trend-previewbox:last-child {
    margin-right: 0px;
  }
}

@media only screen and (orientation: portrait) and (max-device-width: 640px) {
  .trend-previewbox {
    width: 100%;
    padding: 70px 20px 20px 20px;
  }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 1199px) {
  .trends-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-previewbox {
    width: calc(100% / 2 - 5px);
    padding: 20px 20px 20px 20px;
  }

  .trend-previewbox:nth-child(2n + 1) {
    margin-right: 5px;
  }
}

.header {
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #777777;
  position: relative;
  z-index: 0;
  color: #ffff;
  box-sizing: border-box;
  /* margin: 0 auto; */
}

.header::before,
.trend-previewbox::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

.header-burger {
  margin-left: auto;
  margin-right: 0em;
  position: relative;
  width: 30px;
  height: 20px;
  top: 0px;
  cursor: pointer;
}

.header-burger span {
  display: block;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
}

.header-burger:before,
.header-burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header-burger:before {
  top: 0;
}

.header-burger:after {
  bottom: 0;
}

.header-logo {
  width: 180px;
  height: 60px;
}

.header-title {
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  max-width: 750px;
  text-transform: uppercase;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.trends {
  width: 100%;
}

.trends-title,
.aside-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 13px;
  position: relative;
}

.trends-title {
  margin: 0 0 30px 0;
}

.trends-title:after,
.aside-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  transform: translateX(-50%);
}

.trend-previewbox {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-color: #777777;
  position: relative;
  z-index: 0;
  color: #ffff;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: flex;
}

.trends-content {
  border: 3px solid #b59f5b;
  padding: 20px 20px 20px 20px;
  align-self: self-end;
}

.garden {
  background-image: url("img/trend1.jpg");
}

.cheese {
  background-image: url("img/trend2.jpg");
}

.mountains {
  background-image: url("img/trend3.jpg");
}

.lemon {
  background-image: url("img/trend4.jpg");
}

.trends-list,
.article-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0;
}

.trends-list {
  margin-top: 0;
}

.trends-list-item,
.article-item {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  padding-right: 20px;
}

.trends-list-link:hover,
.article-item-link:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.trends-subtitle {
  margin: 0 auto;
}

.trends-subtitle-link:hover,
.link-hover:hover {
  color: #b59f5b;
  text-decoration: none;
}

.article {
  margin-bottom: 40px;
}

.article:last-child {
  border-bottom: none;
  margin-bottom: 40px;
}

.article-img {
  display: block;
  object-position: left top;
  align-self: start;
  margin-bottom: 20px;
}

.article-meta {
  display: flex;
  font-size: 12px;
  margin-bottom: 45px;
  margin-top: 30px;
}

.article-datetime {
  margin-right: 14px;
  color: #888888;
}

.article-link-autor {
  display: block;
  font-weight: bold;
}

.article-text {
  margin-top: 15px;
  margin-bottom: 0;
}

.article-text:first-child {
  margin-top: 0;
}

.latest-posts,
.tags,
.categories {
  margin-bottom: 60px;
}

.article:last-child {
  margin-bottom: 0;
}

.new-posts {
  display: flex;
  justify-content: flex-start;
  margin-top: 27px;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-img {
  display: block;
  object-position: left top;
  object-fit: none;
  min-width: 68px;
  margin-right: 20px;
  margin-left: 0;
}

.aside-datetime {
  font-size: 12px;
  color: #888888;
}

.article-subtitle {
  margin-top: 10px;
  display: inline-block;
}

.subtitle-link:hover {
  color: #b59f5b;
}

.form-search {
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.search-field {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color: #f3f7f5;
  border: 1px solid #f3f7f5;
  padding: 20px 65px 20px 20px;
  font-size: 13px;
}

.search-field:focus {
  outline: none;
  border-color: #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-btn {
  height: 45px;
  width: 45px;
  background-color: #b59f5b;
  background-image: url("svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #b59f5b;
  border-left: none;
  right: 0;
  top: 0;
  position: absolute;
}

.search-btn:hover {
  background: #313131;
  border-color: #313131;
  background-image: url("svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.email {
  margin-bottom: 60px;
}

.email-field {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background-color: #f3f7f5;
  border: 1px solid #f3f7f5;
  padding: 20px;
  font-size: 13px;
  display: inline-block;
}

.email-field:focus {
  outline: none;
  border-color: #b59f5b;
}

.btn-email,
.btn-popup {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border-color: #b59f5b;
  background: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-style: solid;
  cursor: pointer;
}

.btn-email {
  margin-top: 16px;
}

.btn-email:hover {
  background-color: #313131;
  border-color: #313131;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.tags-list-item {
  list-style-type: none;
  border: 3px solid #ededed;
  box-sizing: border-box;
  padding: 10px 14px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 6px;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

.category-list {
  margin-top: 10px;
  font-weight: bold;
  padding: 0;
}

.category-link {
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
}

.category-link:hover {
  color: #b59f5b;
}

.category-item {
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding: 14px 0;
}

.category-count {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

.products {
  margin-top: 60px;
}

.product-wrp {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  box-sizing: border-box;
}

.products p {
  margin: 0 0 20px 0;
}

.text-product:hover {
  font-weight: normal;
}

.text-link {
  display: inline-block;
  text-decoration: underline;
  text-transform: none;
  color: #b59f5b;
  cursor: pointer;
}

.text-main {
  color: #b59f5b;
}

.product-content {
  border: 3px solid#b59f5b;
  padding: 55px 20px 20px 20px;
  margin-top: -35px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.title-products {
  margin-bottom: 8px;
}

.article-products {
  display: flex;
  flex-direction: column;
}

.article-img-products {
  padding: 0 20px;
  width: calc(100% - 40px);
}

.article-title-link {
  display: block;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-size: 20px;
}

.product-price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.footer-btn {
  display: block;
  width: 50%;
  margin-top: 0;
  font-weight: bold;
}

.social {
  margin-top: 70px;
  padding: 30px 0;
  background: #f3f7f5;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-item {
  margin-right: 30px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-icon-dribbble {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("svg/001-dribbble.svg");
}

.social-icon-pinterest {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("svg/001-pinterest.svg");
}

.social-icon-tumblr {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("svg/003-tumblr.svg");
}

.copyright {
  margin-top: 75px;
  margin-bottom: 45px;
  text-align: center;
  color: #adadad;
  font-size: 12px;
}

.copyright-link {
  font-weight: bold;
  text-transform: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  background-color: #fff;
  color: #000;
  max-width: 400px;
  padding: 30px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: -40px;
  right: -6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup-close:before,
.popup-close:after {
  content: "";
  position: absolute;
  top: 21px;
  left: 10px;
  width: 26px;
  height: 4px;
  background: #ffffff;
}

.popup-close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-popup {
  margin-bottom: 30px;
}

::placeholder {
  transform: translateY(-30px);
  vertical-align: top;
}

.field-select,
.form-comment {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #f3f7f5;
  border: 1px solid #f3f7f5;
  font-size: 13px;
  color: #333333;
  vertical-align: top;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.field-select {
  padding: 5px 0 5px 15px;
  height: 45px;
  background-image: url(svg/select-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.form-comment {
  padding: 10px 0 0 15px;
  height: 90px;
}

.form-popup-text {
  display: inline-block;
  margin-bottom: 5px;
}

/*popup radio-group*/
.radio-group-text::before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  background-image: url("./svg/radio-no-active.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
}

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group {
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}
.radio-btn:checked ~ .radio-group-text::before {
  background-image: url("./svg/radio-active.svg");
}

.radio-btn {
  display: none;
}
